
/*主色*/
.primary {
  color: #2d8cf0;
}
.light-primary {
  color: #5cadff;
}
.dark-primary {
  color: #2b85e4;
}
/*辅助色*/
.info {
  color: #2d8cf0;
}
.success {
  color: #19be6b;
}
.warning {
  color: #ff9900;
}
.error {
  color: #ed3f14;
}
/*中性色*/
.title {
  color: #1c2438;
}
.content {
  color: #495060;
}
.sub-color {
  color: #80848f;
}
.disabled {
  color: #bbbec4;
}
.border {
  color: #dddee1;
}
.divider {
  color: #e9eaec;
}
.background {
  color: #f8f8f9;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
}
body {
  position: relative;
  -webkit-user-select: none;/*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  -webkit-touch-callout:none
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.mainBox {
  height: 90.5%;
  width: 100%;
  overflow: auto;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.childrenBox {
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
